.profile_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_background {
    border: 1px solid #999;
    width: 790px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    background: url('https://picsum.photos/800/300') no-repeat;
    background-size: cover;
}
.profile {
    width: 830px;
    max-height: auto;
    border: 1px solid #999;
    border-top: 2px solid #fff;
    position: relative;
}

.avatar {
    border-radius: 50%;
    border: 5px solid #fff;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -75px;
    left: 75px;
}
.profile-name_wrapper {
    min-width: 200px;
    width: auto;
    margin-top: 8.5rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.profile_name {
    margin: 5px 0;
    font-size: 2.5rem;
    color: #555;
}

.profile-name-content {
    color: #aaa;
    font-size: 1.5rem;
}
.log-out-btn {
    width: 100px;
    display: block;
    position: absolute;
    right: 2rem;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #999;
    padding: 15px;
    font-size: 1.5rem;
    color: #555;
}

.log-out-btn--active {
    display: none;
}
